@font-face {
  font-family: 'Roboto';
  src: url(./Roboto-Thin.ttf) format("truetype");
}
html {
  color: black;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgb(156, 169, 180);
  box-sizing: border-box;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}